Flask==0.12.2
jieba==0.38
line-bot-sdk==1.5.0
numpy==1.13.1
olefile==0.44
Pillow==4.1.1
protobuf==3.4.0
PyAutoGUI==0.9.36
pygame==1.9.3
pyHook==1.5.1
PyMsgBox==1.0.6
pyparsing==2.2.0
PyScreeze==0.1.9
python-dateutil==2.6.0
PyTweening==1.0.3
pytz==2017.2
pywin32==221
PyYAML==3.12
requests==2.18.4
scipy==0.19.0
six==1.10.0
smart-open==1.5.3
